@import '../variables.scss';

.side-menu {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--bg_main);
    color: var(--color_main);

    & :where(.css-txh9fw).ant-menu-inline.ant-menu-root,
    :where(.css-txh9fw).ant-menu-vertical.ant-menu-root {
        background: var(--bg_main);
        color: var(--color_main);
        width: 250px;

        @include xs {
            display: none;
        }

        @include lg {
            display: block;
            width: 200px;
        }
    }

    & :where(.css-dev-only-do-not-override-txh9fw).ant-menu-light,
    :where(.css-dev-only-do-not-override-txh9fw).ant-menu-light > .ant-menu {
        background: var(--bg_main);
        color: var(--color_main);
        width: 250px;

        @include xs {
            display: none;
        }

        @include lg {
            display: block;
            width: 200px;
        }
    }

    &
        :where(
            .css-dev-only-do-not-override-txh9fw
        ).ant-menu-light.ant-menu-root.ant-menu-inline,
    :where(.css-dev-only-do-not-override-txh9fw).ant-menu-light
        > .ant-menu.ant-menu-root.ant-menu-inline,
    :where(
            .css-dev-only-do-not-override-txh9fw
        ).ant-menu-light.ant-menu-root.ant-menu-vertical,
    :where(.css-dev-only-do-not-override-txh9fw).ant-menu-light
        > .ant-menu.ant-menu-root.ant-menu-vertical {
        border-inline-end: 1px solid var(--color_main);
    }

    &
        :where(.css-dev-only-do-not-override-txh9fw).ant-menu-light:not(
            .ant-menu-horizontal
        )
        .ant-menu-item:not(.ant-menu-item-selected):hover,
    :where(.css-dev-only-do-not-override-txh9fw).ant-menu-light
        > .ant-menu:not(.ant-menu-horizontal)
        .ant-menu-item:not(.ant-menu-item-selected):hover {
        background-color: rgb(94, 145, 94);
        color: rgb(255, 255, 255);
    }
}

.minimize {
    display: flex;
    flex: 1;
    padding: 2px;
    cursor: pointer;

    @include xs {
        display: flex;
    }

    @include lg {
        display: none;
    }
}

.menu-right-responsive {
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;

    > .container {
        border: 1px solid var(--color_main);
        padding: 18px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
        width: 250px;
        margin-top: 80px;
        margin-left: 30px;
        border-radius: 12px;
        background: var(--bg_main);
        color: var(--color_main);

        @include xs {
            width: 200px;
        }

        @include sm {
            width: 250px;
        }

        > .item {
            border-bottom: 1px solid var(--color_main);
        }
    }
}
