@import '../variables.scss';

.loginpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: var(--bg_main);
    color: var(--color_main);

    > .container {
        display: flex;
        width: 40%;
        height: auto;
        flex-direction: column;
        border: 1px solid var(--color_main);
        border-radius: 18px;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px var(--color_main);

        @include xs {
            width: 80%;
        }

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 40%;
        }

        @include xxl {
            width: 30%;
        }

        & label {
            font-size: 24px;
            margin-bottom: 12px;
            color: var(--color_main);
        }

        & .btn-wrap {
            display: flex;
            justify-content: center;
            width: 100%;

            & :where(.css-txh9fw).ant-btn.ant-btn-lg {
                width: 250px;
            }

            & :where(.css-dev-only-do-not-override-txh9fw).ant-btn.ant-btn-lg {
                width: 250px;
            }
        }
    }
}
